<h2>School Classification Import/Delete</h2>
<p>Note: At the beginning of each ranking season you will want to import the newest classifications.
  To start that process you will need to delete the last seasons classifications. Please click the delete button to
  remove the current classifications</p>
<button mat-flat-button color="warn" (click)="onCollectionDelete()">Delete Schools</button>
<p>Use this with caution to remove last seasons classification and import a new classification</p>
<div>
  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload"
         (change)="fileChangeListener($event)" accept=".csv" />
</div>
<ng-container *ngIf="importing">
  <div>Imported {{schoolCount}} School</div>
</ng-container>
