<mat-sidenav-container style="height: 100vh">
  <mat-sidenav #sidenav mode="side" opened="true" style="width: 300px; background-color: #efefef">
    <nav class="menu">
      <button mat-stroked-button routerLink="/" type="button">Home</button>
      <button mat-stroked-button routerLink="/classifications" type="button">Classifications</button>
      <button mat-stroked-button routerLink="/school-import" type="button">School Import</button>
    </nav>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Iowa XC Polls
    </mat-toolbar>
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
